.completed {
  text-decoration: line-through;
}
li span {
  cursor: pointer;
}
body {
  background-color: #e7ebf0;
}
.MuiList-root.MuiList-padding.css-1mcnwpj-MuiList-root {
  max-width: 100%;
}
main,
aside {
  width: 70%;
  margin: auto;
}
h1 {
  text-align: center;
}
h2 {
  margin: 0 10px;
}
body,
#root,
.App {
  position: relative;
  min-height: 100vh;
}
footer {
  display: block;
  width: 100%;
  padding-top: 100px;
  position: absolute;
  bottom: 0;
}
label.filterCheckboxLabel {
  padding: 4px 8px;
}
.filters-form {
  display: flex;
  flex-direction: column;
}
.filters-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.search-input-wrapper {
  display: flex;
  width: 100%;
}
@media (max-width: 600px) {
  main,
  aside {
    width: 98%;
    margin: auto;
  }
  .filters-form {
    flex-direction: column;
  }
}
